.font{
  font-family: "Raleway", sans-serif;
}

.headings{
  font-weight: 500;
  font-size:  18px;
}

.posted{
    text-align: center;
    max-width: 167px;
    padding: 4px;
   
  }
  
  .companyheader{
    margin-top: 20px;
    display: flex;
    column-gap: 10px;
  }

  .view{
    backdrop-filter: blur(1px);
    position: relative;
    top: -44px;
    /* left: -3px; */
    opacity: 45px;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    height: 55px;
    opacity: 1;

  }