.parent{
  max-width: 400px;
  margin:  10px auto;
  
  
}

.link{
  font-size: x-large;
  color: '#6f6ae4'
}

.font{
  font-family: "Raleway", sans-serif;
}

.headings{
  font-weight: 500;
  font-size:  18px;
}

.posted{
    text-align: center;
    max-width: 167px;
    padding: 4px;
   
  }
  
  .companyheader{
    margin-top: 20px;
    display: flex;
    column-gap: 10px;
    
  }

  .view{
    backdrop-filter: blur(1px);
    position: relative;
    top: -36px;
    /* left: -3px; */
    opacity: 45px;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    height: 55px;
    opacity: 1;

  }

  @media (min-width: 900px) {
    .parent{
       margin: 20px 10px 20px 10px;
    }
  }

  

